@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
html, body {
  @apply bg-background text-textDark;
  @apply min-h-screen flex flex-col;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
}
main {
  @apply flex-grow;
}

/* Buttons */
.btn-primary {
  @apply bg-primary text-white font-medium py-2 px-4 rounded hover:bg-blue-700 transition;
}

.btn-accent {
  @apply bg-accent text-white font-medium py-2 px-4 rounded hover:bg-yellow-600 transition;
}

/* Remove blue outline on selected cells */
.MuiDataGrid-cell.Mui-selected {
  outline: none !important;
}

/* Remove blue outline on selected column headers */
.MuiDataGrid-columnHeader.Mui-selected {
  outline: none !important;
}

/* Ensure the checkbox does not have the blue outline */
.MuiCheckbox-root.Mui-checked {
  outline: none !important;
}
.MuiDataGrid-cell:focus-within {
  outline: none !important;
}

/* Set fixed height for gallery to prevent jumping */
.custom-gallery .image-gallery-slide {
  height: 400px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background: #fff !important;
}

/* Ensure images fit correctly */
.custom-gallery .image-gallery-image {
  max-height: 100% !important;
  object-fit: contain !important;
}